.button{
    color: black;
    font-weight: bold;

    color: white;
    background: rgb(16, 123, 199);
    margin: 10px;
    text-align: center;
}

.qr{
    max-width: 70%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
}