<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>App Asistencia Duoc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <h1 class="center-content" style="padding-bottom: 50px">Bienvenido</h1>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Has iniciaso secion como {{ userInfoReceived?.name }} {{ userInfoReceived?.last_name }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Escanea el QR de la clase para marcar tu asistencia
    </ion-card-content>
  </ion-card>

  <ion-card>
    <br>
    <img alt="ejemplo de camara" src="https://s1.eestatic.com/2021/02/04/omicrono/556456989_172088550_1706x960.jpg" />
    <br>
  </ion-card>

</ion-content>
