.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ion-button{
    border-radius: 8px;
    width: 100%;
}

ion-img{
    max-width: 90%;
    margin-bottom: 10px;
}

h5{
    margin: 10px 25px;
}